/* menu section */

.menu {
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../img/bg.jpg") center / cover no-repeat;
  padding: 2rem 5%;
}

.menu .navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  z-index: 1000;
  height: auto;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.menu .navbar .logo img {
  width: 15rem;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .menu .navbar .logo img {
    width: 10rem;
  }

  .menu .navbar ul li {
    margin: 0.5rem;
  }

  .menu .navbar ul li a {
    font-size: 1.8rem;
  }
}

.menu .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .navbar ul li {
  margin: 0rem 2rem;

  @media (max-width: 480px) {
    margin: 0rem 1rem;
  }
}

.menu .navbar ul li a {
  font-size: 2.5rem;
  color: orangered;
  transition: 0.3s;

  @media (max-width: 480px) {
    font-size: 1.8rem;
  }
}

.menu .navbar.active {
  background: #222;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
}

.menu .heading {
  font-size: 8rem;
  color: #fff;
  text-align: center;
  padding: 10rem 0rem 5rem;

  @media (max-width: 480px) {
    font-size: 5rem;
  }
}

.menu .box-container .box img {
  width: 30rem;
  transition: 0.3s;
}

.menu .box-container .box img:hover {
  transform: scale(1.15);
  overflow: hidden;
}

.menu .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 5%;
}

.menu .box-container .box {
  flex: 1 1 20rem;
  background: #fff;
  margin: 1rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

.menu .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0rem;
}

.menu .box-container .box p {
  font-size: 1.5rem;
  text-align: justify;
  padding: 0rem 2.5rem;
  font-weight: normal;
}

.menu .box-container .box .price {
  text-align: center;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: orangered;
}
