* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", sans-serif;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@import "./contacts";
@import "./menu";
@import "./snacks";
@import "./testimonials";
@import "./snow";
@import "./christmas tree";
